body{
background-color: var(--background-color);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
overflow-y: hidden;
}
:root{
  --background-color:#ffaf36;

}
.main {
  --rotate:0;
  background-color: var(--bc);
  height: var(--height);
  width: var(--width);
  transform: rotate(var(--rotate));
  transform: translateX(var(tran));
}
.main .clock{
  position: relative;
  --bc: #dd81fe;
  --width:400px;
  --height:400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}
.main  .all{
  position: absolute;
  --bc:none;
  height: 100%;
  width: 100%;
  text-align: center;
}
.main .num1{--rotate:30deg;}
.main .num2{--rotate:60deg;}
.main .num3{--rotate:90deg;}
.main .num4{--rotate:120deg;}
.main .num5{--rotate:150deg;}
.main .num6{--rotate:180deg;}
.main .num7{--rotate:210deg;}
.main .num8{--rotate:240deg;}
.main .num9{--rotate:270deg;}
.main .num10{--rotate:300deg;}
.main .num11{--rotate:330deg;}

.clock::after{
  position: absolute;
  content: '';
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 12;

}
.clock .hand{
    --handRotate:0;
  position: absolute;
  bottom: 50%;
  border-radius: 10px;
  z-index: 10;
  transform-origin: bottom;
  transform:rotate(calc(var(--handRotate)*1deg));
}
 .hour{
  background-color: green;
  height: 170px;
  width: 10px;
}
 .min{
  background-color: red;
  height: 160px;
  width: 8px;
}
 .sec{
  background-color: white;
  height: 200px;
  width: 2px;
}
