body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1559e2e3;
}

#my-form {
    background-color: #eaeaff;
    padding: 60px;
    border-radius: 10px;
}

#my-form input {
    display: block;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding: 17px 22px;
    margin: 18px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15;
    text-align: left;
}

#my-form input.error {
    border-color: rgb(156, 47, 47);
}

#my-form input.success {
    border-color: #c3e6cb
}

span {
    margin-left: 15px;
    display: none;
}

span.spans {
    display: inline-table;
    color: red;
}

p {
    position: absolute;
    color: white;
    top: 20px;
    font-size: 40px;
}